<div class="helppage" class="palm-dark">
	<div class="palm-header left">
		Chapter 4
	</div>
	<div class="aboutcontent">
		<h1>Numeric Functions</h1>
		<h2>Table of Contents</h2>
		<ul>
			<li><a href="#constants">Constants</a></li>
			<li><a href="#altering">Number Altering Functions</a></li>

		</ul>
		<p>The majority of functions on this calculator are numeric functions. All numeric functions automatically terminate digit entry. This means <img src="images/help/btn_enter.png" alt="enter" /> does NOT need to be pressed after using a numeric function.</p>
		<h2><a name="constants"></a>Constants</h2>
		<p>There are four constants available: Pi, e, phi and 42. They are accessible as follows:</p>
		<p class="buttonsequence">
			<img src="images/help/btn_pi.png" alt="pi" /> for Pi<br />
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_pi.png" alt="pi" /> for e<br />
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_pi.png" alt="pi" /> for phi<br />
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_xfac.png" alt="xfac" /> for 42
		</p>
		<p>Pi and e are well known constants. Phi is the so called 'divine proportion' and finally 42 is the most important constant in the universe. All four constants are stack lifting. It's therefore not needed to press <img src="images/help/btn_enter.png" alt="enter" /> after using one of these constants.</p>
		<h2><a name="altering"></a>Number Altering Functions</h2>
		<p>Number altering functions modify the value in the X register.</p>
		<strong>Integer Portion</strong> replaces the number in the display with the nearest integer value.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_minus.png" alt="minus" />
		</p>
		<p><strong>Fractional Portion</strong> replaces the number with its fractional part.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_minus.png" alt="minus" />
		</p>
		<p><strong>Rounding</strong> rounds the number in the display to whatever format has been configured with FIX, SCI or ENG.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_plus.png" alt="plus" />
		</p>
		<p><strong>Absolute value</strong> produces the absolute value of the number in the display.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_chs.png" alt="chs" />
		</p>
	</div>	
</div>