<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_helpicon"></div>                        
		<div class="title">Chapter 4</div>      
	</div>
</div>
<div class="helppage palm-dark">
		<h1>Numeric Functions</h1>
		<h2>Table of Contents</h2>
		<ul>
			<li><a href="#constants">Constants</a></li>
			<li><a href="#altering">Number Altering Functions</a></li>
			<li><a href="#onenumber">One Number Functions</a></li>
			<li><a href="#trig">Trigonometric Functions</a></li>
			<li><a href="#conversions">Degrees/Radians Conversions</a></li>
			<li><a href="#logarithmic">Logarithmic Functions</a></li>
			<li><a href="#twonumber">Two-Number Functions</a></li>
			<li><a href="#power">Power</a></li>
			<li><a href="#percentages">Percentages</a></li>
			<li><a href="#percentualdifference">Percentual Difference</a></li>
			<li><a href="#polar">Polar and Rectangular Coordinate Conversions</a></li>
			

		</ul>
		<p>The majority of functions on this calculator are numeric functions. All numeric functions automatically terminate digit entry. This means <img src="images/help/btn_enter.png" alt="enter" /> does NOT need to be pressed after using a numeric function.</p>
		<h2><a name="constants"></a>Constants</h2>
		<p>There are four constants available: Pi, e, phi and 42. They are accessible as follows:</p>
		<p class="buttonsequence">
			<img src="images/help/btn_pi.png" alt="pi" /> for Pi<br />
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_pi.png" alt="pi" /> for e<br />
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_pi.png" alt="pi" /> for phi<br />
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_xfac.png" alt="xfac" /> for 42
		</p>
		<p>Pi and e are well known constants. Phi is the so called 'divine proportion' and finally 42 is the most important constant in the universe. All four constants are stack lifting. It's therefore not needed to press <img src="images/help/btn_enter.png" alt="enter" /> after using one of these constants.</p>
		<h2><a name="altering"></a>Number Altering Functions</h2>
		<p>Number altering functions modify the value in the X register.</p>
		<strong>Integer Portion</strong> replaces the number in the display with the nearest integer value.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_minus.png" alt="minus" />
		</p>
		<p><strong>Fractional Portion</strong> replaces the number with its fractional part.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_minus.png" alt="minus" />
		</p>
		<p><strong>Rounding</strong> rounds the number in the display to whatever format has been configured with FIX, SCI or ENG.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_plus.png" alt="plus" />
		</p>
		<p><strong>Absolute value</strong> produces the absolute value of the number in the display.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_chs.png" alt="chs" />
		</p>
		<h2><a name="onenumber"></a>One Number Functions</h2>
		<p>One number functions only operate on the number in the display (X register). Examples are <img src="images/help/btn_sqrt.png" alt="sqrt" />, <img src="images/help/btn_onedivx.png" alt="reciprocal" />, <img src="images/help/btn_xfac.png" alt="factorial" />, <img src="images/help/btn_xsquare.png" alt="square" />.</p>
		<h3><a name="trig"></a>Trigonometric Functions</h3>
		<p>The trigonometric functions work in the selected mode. Selecting a mode tells the calculator what unit to use when performing trigonometric operations. The calculator supports three modes: <strong>degrees</strong>, <strong>radians</strong> and <strong>grads</strong>. Note that degrees are in decimals, NOT in minutes-seconds form.</p>
		<p>The continuous memory will retain the selected trigonometric mode inbetween sessions.</p>
		<p class="buttonsequence">
			<img src="images/help/btn_sin.png" alt="sin" /> sine of x<br />
			<img src="images/help/btn_cos.png" alt="cos" /> cosine of x<br />
			<img src="images/help/btn_tan.png" alt="tan" /> tangent of x<br />
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_sin.png" alt="sin" /> arc sine of x<br />
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_cos.png" alt="cos" /> arc cosine of x<br />			
			<img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_tan.png" alt="tan" /> arc tangent of x<br />	
		</p>
		<p>Make sure the calculator is set to the trigonometric mode you need before using these functions (DEG, RAD or GRAD)</p>
		<h3><a name="conversions"></a>Degrees/Radians Conversions</h3>
		<p><img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_multiply.png" alt="multiply" /> and <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_divide.png" alt="divide" /> are used to convert from radians to degrees and degrees to radians. In both cases they need to be expressed in decimals, NOT minutes-seconds.</p>
		<h3><a name="logarithmic"></a>Logarithmic Functions</h3>
		<p><strong>Natural Logarithm</strong></p>
		<p class="buttonsequence"><img src="images/help/btn_g.png" alt="g"/> <img src="images/help/btn_ex.png" alt="ex"/></p>
		<p>logarithm to the base e.</p>
		<p><strong>Natural Antilogarithm</strong></p> 
		<p class="buttonsequence"><img src="images/help/btn_ex.png" alt="ex"/></p> 
		<p>raises e to the power of the number in the display.</p>
		<p><strong>Common Logarithm</strong></p> 
		<p class="buttonsequence"><img src="images/help/btn_g.png" alt="g"/> <img src="images/help/btn_tenx.png" alt="tenx"/></p> 
		<p>common logarithm (to the base 10)</p>
		<p><strong>Common Antilogarithm</strong></p> 
		<p class="butonsequence"><img src="images/help/btn_tenx.png" alt="tenx"/></p> 
		<p>raises 10 to the power of the number in the display.</p>
		<h3><a name="hyperbolic"></a>Hyperbolic Functions</h3>
		<p>Press <img src="images/help/btn_hyp.png" alt="hyp" />to turn all trigonometric functions into their hyperbolic equivalent. Press it again to set them back to normal.</p>
		<h2><a name="twonumber"></a>Two-Number Functions</h2>
		<p>Two-number math is always performed using two sequentially entered values. If you're keying them in, make sure you use <img src="images/help/btn_enter.png" alt="enter" /> to separate them unless you have been using another function that terminates digit entry. For all two-number functions, the value entered first is considered the y-value. The second entered value is used as the x-value. In other words: The X and Y registers of the stack are used to perform the operation. As mentioned before, <img src="images/help/btn_plus.png" alt="plus" />, <img src="images/help/btn_minus.png" alt="minus" />, <img src="images/help/btn_multiply.png" alt="multiply" /> and <img src="images/help/btn_divide.png" alt="divide" /> are the four basic two-number functions. But there are more!</p>
		<h2><a name="power"></a>Power</a></h2>
		<p>Pressing <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_onedivx.png" alt="onedivx" /> calculates the value of y raised to the power of x. So let's say we want to calculate 5<sup>6</sup>. We'd enter:</p>
		<p class="buttonsequence"><img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_six.png" alt="6" /> <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_onedivx.png" alt="yx" /></p>
		<p>Another example, let's calculate 2<sup>-1.4</sup>. We press:</p>
		<p class="buttonsequence">
			<img src="images/help/btn_two.png" alt="2" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_one.png" alt="1" /> <img src="images/help/btn_dot.png" alt="dot" /> <img src="images/help/btn_four.png" alt="4" /> <img src="images/help/btn_chs.png" alt="chs" /> <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_onedivx.png" alt="onedivx" />
		</p>
		<h2><a name="percentages"></a>Percentages</h2>
		<p>The percentage functions preserve the value of the original base number together with the result of the calculation. We can calculate percentages as well as percentual differences. Let's say we want to see what a 5% price increase does to a price of $17.99. We press:</p>
		<p class="buttonsequence">
			<img src="images/help/btn_one.png" alt="1" /> <img src="images/help/btn_seven.png" alt="7" /> <img src="images/help/btn_dot.png" alt="dot" /> <img src="images/help/btn_nine.png" alt="9" /> <img src="images/help/btn_nine.png" alt="9" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_percent.png" alt="percent" /> <img src="images/help/btn_plus.png" alt="plus" /></p>
		<p>In this example, after pressing <img src="images/help/btn_percent.png" alt="percent" /> we see that 5% of 17.99 is 0.8995. Since the base value has been pushed up the stack (it's now in the Y register) we can add the 0.8995 to 17.99 by simply pressing <img src="images/help/btn_plus.png" alt="plus" /></p>
		<h3><a name="percentualdifference"></a>Percentual Difference</h3>
		<p>The percentual difference function which can be used by pressing <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_percent.png" alt="percent" /> calculates the percentual difference between two numbers. The result can be both positive and negative depending on which of the two entered numbers is the highest. This result represents a percentual increase or decrease.</p>
		<h3><a name="polar"></a>Polar and Rectangular Coordinate Conversions</h3>
		<p>Pressing <img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_multiply.png" alt="multiply" /> converts a set of rectangular coordinates (x, y) to polar coordinates. The y value must be entered first, then enter and finally the x value. After executing this function, the magnitude r will appear in the display. The angle will be placed in the Y register. Pressing <img src="images/help/btn_swapxy.png" alt="swapxy" /> will reveal the angle.</p>
		<p>Pressing <img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_divide.png" alt="divide" /> converts a set of polar coordinates (magnitude, angle) to rectangular coordinates. The angle must be entered first, then enter and finally the magnitude value. After executing this function, the x coordinate will appear in the display. The y coordinate will be placed in the Y register. Pressing <img src="images/help/btn_swapxy.png" alt="swapxy" /> will reveal the y coordinate.</p>
</div>