<div id="conversion">
	<div class="palm-group">	
		<div class="palm-group-title">Configure conversion button</div>
		<table class="palm-divider labeled">
			<tr>
				<td class="left"></td>
				<td class="label">
					Property
				</td>
				<td class="right"></td>
			</tr>
		</table>
		<div x-mojo-element="ListSelector" id="property" class="list"></div>
		<table class="palm-divider labeled">
			<tr>
				<td class="left"></td>
				<td class="label">
					Unit in display
				</td>
				<td class="right"></td>
			</tr>
		</table>
		<div x-mojo-element="ListSelector" id="convertfrom" class="list"></div>
		<table class="palm-divider labeled">
			<tr>
				<td class="left"></td>
				<td class="label">
					Unit to convert to
				</td>
				<td class="right"></td>
			</tr>
		</table>
		<div x-mojo-element="ListSelector" id="convertto" class="list"></div>
	</div>
	<div x-mojo-element="Button" id="apply"></div>
</div>
