<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_helpicon"></div>                        
		<div class="title">Chapter 5</div>      
	</div>
</div>
<div class="helppage palm-dark">
		<h1>Statistics Functions</h1>
		<p>More details on this will be added in a future update. For now it's worth noting that the statistics functions in this application are implemented exactly the same like on the Hewlett-Packard HP15C calculator.</p>
		<p>Memory registers 2-7 are used for statistics after gathering data using <img src="images/help/btn_sigmaplus.png" alt="ex" />. Mean, standard deviation, linear regression and y,r functions behave like their HP15C equivalent.</p>
</div>