<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_helpicon"></div>                        
		<div class="title">Chapter 2</div>      
	</div>
</div>
<div class="helppage" class="palm-dark">
		<h1>Unit Conversion Utility</h1>
		<p>
			This application comes with a full blown unit conversion utility supporting 20 properties and an enormous amount of different units to convert from and to. This feature renders any separate conversion utility application unnecessary.
		</p>
		<h2>How to use</h2>
		<p>The conversion utility is very easy to use. To access the conversion setup screen in which the property, the unit to convert from and the unit to convert to can be configured, enter:</p>
		<p class="buttonsequence"><img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_conv.png" alt="conv" />.</p>
		<p>When done configuring simply use the back gesture to return to the calculator. The chosen settings are automatically saved and persist inbetween sessions with the calculator. The next time you use it they will still be there!<p>
		<p>Performing a conversion is now as easy as entering a value into the calculator followed by <img src="images/help/btn_conv.png" alt="conv" />. The converted value will appear in the display.</p>
		<p>The <img src="images/help/btn_conv.png" alt="conv" /> button is simply put a configurable one number function. It can be used during calculations like any other one number function.</p>
		<p>
</div>