<div id="scientificcalculator-main">
	<div id="display-overlay"></div>
	<div id="display">
		<div id="firstline"><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span><span class="digit"></span></div>
		<div id="secondline"></div>
		<div id="infoline"></div>
		<div id="modes">
			<div id="mode_deg"></div>
			<div id="mode_rad" class="on"></div>
			<div id="mode_grad"></div>
			<div id="mode_f"></div>
			<div id="mode_g"></div>
			<div id="mode_fix"></div>
			<div id="mode_sci" class="on"></div>
			<div id="mode_eng"></div>
			<div id="mode_hyp"></div>
			<div id="mode_sto"></div>
		</div>
	</div>
	<div id="keys">
		<div class="keyrow">
			<div class="button key" id="ex">
			</div>
			<div class="button key" id="tenx">
			</div>
			<div class="button" id="onedivx">
			</div>
			<div class="button" id="tohex">
			</div>
			<div class="button" id="tobin">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="hyp">
			</div>
			<div class="button" id="sin">
			</div>
			<div class="button" id="cos">
			</div>
			<div class="button" id="tan">
			</div>
			<div class="button" id="pi">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="xsquare">
			</div>
			<div class="button" id="xfac">
			</div>
			<div class="button" id="sqrt">
			</div>
			<div class="button" id="conv">
			</div>
			<div class="button" id="percent">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="f">
			</div>
			<div class="button" id="g">
			</div>
			<div class="button" id="sto">
			</div>
			<div class="button" id="rcl">
			</div>
			<div class="button" id="undo">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="seven">
			</div>
			<div class="button" id="eight">
			</div>
			<div class="button" id="nine">
			</div>
			<div class="button" id="backspace">
			</div>
			<div class="button" id="sigmaplus">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="four">
			</div>
			<div class="button" id="five">
			</div>
			<div class="button" id="six">
			</div>
			<div class="button" id="multiply">
			</div>
			<div class="button" id="divide">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="one">
			</div>
			<div class="button" id="two">
			</div>
			<div class="button" id="three">
			</div>
			<div class="button" id="plus">
			</div>
			<div class="button" id="minus">
			</div>
		</div>
		<div class="keyrow">
			<div class="button" id="zero">
			</div>
			<div class="button" id="dot">
			</div>
			<div class="button" id="eex">
			</div>
			<div class="button" id="chs">
			</div>
			<div class="button" id="enter">
			</div>
		</div>
	</div>
</div>
