<div class="helppage" class="palm-dark">
	<div class="palm-header left">
		Chapter 1
	</div>
	<div class="aboutcontent">
		<h1>Introduction</h1>
		<p>Congratulations! You have just installed the most advanced scientific calculator available on the WebOS platform. In fact, it may very well be the most advanced calculator ever written in Javascript. This application contains an ever growing amount of scientific and statistics functionality packed in a compact and attractive interface.</p>
		<h2>Help is here!</h2>
		<p>Because of the large amount of available functions in this application, help may sometimes be needed. The next section will introduce you to the basic knowledge you need to get started with the calculator. The other chapters contain in depth explanation of every available calculator function.</p>
		<h2>Preferences</h2>
		<p>In the calculator's application menu a preferences option can be found. In the preferences panel two things can be configured:</p>
		<h3>Audible Feedback</h3>
		<p>With this setting enabled a short sound will be played on every key press.</p>
		<h3>Display Stack</h3>
		<p>Enabling this setting will show a truncated overview of the current state of the stack in the main display.</p>
	</div>	
</div>