<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_helpicon"></div>                        
		<div class="title">Chapter 2</div>      
	</div>
</div>
<div class="helppage palm-dark">
		<h1>Fundamentals</h1>
		
		<h2>Table of Contents</h2>
		<ul>
			<li><a href="#keyboard">Keyboard Operation</a></li>
			<li><a href="#prefixkeys">Prefix Keys</a></li>
			<li><a href="#chs">Changing Signs</a></li>
			<li><a href="#precision">Precision &amp; display modes</a></li>
			<li><a href="#exponents">Exponents</a></li>
			<li><a href="#onenumber">One Number Functions</a></li>
			<li><a href="#twonumber">Two Number Functions and the ENTER key</a></li>
			<li><a href="#chain">Chain Calculations</a></li>
		</ul>
		
		<h2><a name="keyboard"></a>Keyboard Operation</h2>
		<p>All keys on the calculator serve at least one function. Many keys have secondary or tertiary functions which can be accessed by using <img src="images/help/btn_f.png" alt="f" /> or <img src="images/help/btn_g.png" alt="g" />. We call these functions <strong>f-shifted</strong> and <strong>g-shifted</strong> functions.</p>
		<h3>Example</h3>
		<p>Press <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_ex.png" alt="ex" /> to calculate the natural logarith of the value that was in the display before pressing the sequence.</p>
		<p>Press <img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_enter.png" alt="enter" /> to generate a random number.</p>
		<h2><a name="prefixkeys"></a>Prefix Keys</h2>
		<p>Prefix keys are keys that must precede another key to complete the key sequence for a function. Certain functions require a prefix key and another key to complete the function. For your reference below are all available prefix keys:</p>
		<p class="buttonsequence"><img src="images/help/btn_sto.png" alt="sto" /> <img src="images/help/btn_rcl.png" alt="rcl" /> <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_hyp.png" alt="hyp" /></p>
		<p>A few functions require a sequence of two keypresses as their prefix:</p>
		<p class="buttonsequence"><img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_four.png" alt="four" /><br /><img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_five.png" alt="five" /><br /><img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_six.png" alt="six" /></p>
		<h2><a name="chs"></a>Changing Signs</h2>
		<p>Press <img src="images/help/btn_chs.png" alt="chs" />to change the sign of any number in the display. To enter a negative number, key in the number and press <img src="images/help/btn_chs.png" alt="chs" /></p>
		<h2><a name="precision"></a>Precision and display modes</h2>
		<p>Press <img src="images/help/btn_g.png" alt="g" /> followed by <img src="images/help/btn_four.png" alt="4" />, <img src="images/help/btn_five.png" alt="5" /> or <img src="images/help/btn_six.png" alt="6" /> and finally a number between 0 and 9 for FIXed, SCIentific or ENGineering mode. The number sets the precision.</p>
		<p>To get rid of any of these mode press <img src="images/help/btn_dot.png" alt="dot" /> instead of a number at the end of the key sequence and the calculator will go back to normal display mode.</p>
		<h2><a name="exponents"></a>Exponents</h2>
		<p><img src="images/help/btn_eex.png" alt="eex" /> is used to enter numbers with an exponent. To enter 15 x 10<sup>3</sup> use:</p>
		<p class="buttonsequence"><img src="images/help/btn_one.png" alt="1" /> <img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_eex.png" alt="eex" /> <img src="images/help/btn_three.png" alt="3" /></p>
		<p>To enter a negative exponent use the g-shifted EEX- function. To enter 5 * 10 <sup>-2</sup> use:</p>
		<p class="buttonsequence"><img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_eex.png" alt="eex" /> <img src="images/help/btn_two.png" alt="2" /></p>
		<h2>Clearing</h2>
		<p>To erase a digit, use the <img src="images/help/btn_backspace.png" alt="backspace" /> key. Every press will erase one digit of the currently entered value. If the value in the display is the result of an earlier used function the entire value will be erased with one press of <img src="images/help/btn_backspace.png" alt="backspace" /></p>
		<p>To clear the statistics registers, use <img src="images/help/btn_f.png" alt="f" /> <img src="images/help/btn_sigmaplus.png" alt="sigmaplus" />.</p>
		<p>To clear the stack, use <img src="images/help/btn_g.png" alt="g" /> <img src="images/help/btn_rcl.png" alt="rcl" />.</p> 
		<p>You will learn more about the stack in chapter 4.</p>
		<h2>Calculations</h2>
		<h3><a name="onenumber"></a>One number functions</h3>
		<p>A one number function performs a calculation using only the number in the display. For example, to calculate the sine of 12, press:</p>
		<p class="buttonsequence"><img src="images/help/btn_one.png" alt="1" /> <img src="images/help/btn_two.png" alt="2" /> <img src="images/help/btn_sin.png" alt="sin" /></p>
		<h3><a name="twonumber"></a>Two number functions and <img src="images/help/btn_enter.png" alt="enter" /></h3>
		<p>A two number function needs two values to be entered into the calculator before it can be used. The best examples of two number functions are:</p>
		<p class="buttonsequence"><img src="images/help/btn_plus.png" alt="plus" /> <img src="images/help/btn_minus.png" alt="minus" /> <img src="images/help/btn_multiply.png" alt="multiply" /> <img src="images/help/btn_divide.png" alt="divide" /></p>
		<p>To terminate the entry of digits, use <img src="images/help/btn_enter.png" alt="enter" />. So, if we want to calculate 12+3 we would enter:</p>
		<p class="buttonsequence"><img src="images/help/btn_one.png" alt="1" /> <img src="images/help/btn_two.png" alt="2" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_three.png" alt="3" /> <img src="images/help/btn_plus.png" alt="plus" /></p>
		<p>Besides <img src="images/help/btn_enter.png" alt="enter" />, all functions serve as digit entry terminators. Therefore after using a function you don't have to press <img src="images/help/btn_enter.png" alt="enter" />. For example if we want to calculate sin(3) + 6 we use:</p>
		<p class="buttonsequence"><img src="images/help/btn_three.png" alt="3" /> <img src="images/help/btn_sin.png" alt="sin" /> <img src="images/help/btn_six.png" alt="6" /> <img src="images/help/btn_plus.png" alt="plus" /></p>
		<p>As you can see, it is not necessary to press enter after calculating sin(3).</p>
		<h3><a name="chain"></a>Chain Calculations</h3>
		<p><ul><li><img src="images/help/btn_enter.png" alt="enter" /> is only used to terminate sequential input of numbers.</li><li>Operator keys such as <img src="images/help/btn_plus.png" alt="plus" /> are only used after both values have been entered into the calculator.</li><li>The result of any operation may itself become an operand. The intermediate results are stored and retrieved through the last-in, first-out principle. New digits entered after an operation serve as new numbers.</li></ul>
		<p>For example, to calculate (5 + 4 - 6) / 3 we use:</p>
		<p class="buttonsequence"><img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_four.png" alt="4" /> <img src="images/help/btn_plus.png" alt="plus" /> <img src="images/help/btn_six.png" alt="6" /> <img src="images/help/btn_minus.png" alt="minus" /> <img src="images/help/btn_three.png" alt="3" /> <img src="images/help/btn_divide.png" alt="divide" /></p>
		<p>Notice that <img src="images/help/btn_enter.png" alt="enter" /> is not needed after using an operator key. Also notice that brackets (which are not available on this calculator) are not needed. They are NEVER needed on an RPN calculator.</p>
		<p>Here's a more complicated example. Let's calculate (5 + 7) x (34-2). We use:</p>
		<p class="buttonsequence"><img src="images/help/btn_five.png" alt="5" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_seven.png" alt="7" /> <img src="images/help/btn_plus.png" alt="plus" /></p>
		<p>We now have the result of (5 + 7) which is automatically stored as an intermediate result.</p>
		<p class="buttonsequence"><img src="images/help/btn_three.png" alt="3" /> <img src="images/help/btn_four.png" alt="4" /> <img src="images/help/btn_enter.png" alt="enter" /> <img src="images/help/btn_two.png" alt="2" /> <img src="images/help/btn_minus.png" alt="minus" /></p> 
		<p>We now have the result of (34-2) which is also stored as an intermediate result.</p>
		<p class="buttonsequence"><img src="images/help/btn_multiply.png" alt="multiply" /></p>
		<p>The first intermediate result is now multiplied by the second intermediate result and the result in the calculation is in the display.</p>
		<p>Again, no brackets were needed. How awesome!</p>
		<p>Now where did those intermediate results go and how is it possible that the calculator magically remembers everything to complete the calculation successfully, you may wonder. The answer lies in what we call the stack. You'll learn everything about the stack in chapter 4.</p> 
</div>