<div id="stackinspector" class="palm-dark">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div id="appIcon" class="img_stackinspector"></div>                        
			<div class="title">Stack Inspector</div>      
		</div>
	</div>
	<div class="aboutcontent">
		<div class="info">Reorganize the stack through drag and drop. Tap 'Revert' to discard changes.</div>
		<div x-mojo-element="List" id="stack" name="stack"></div>
		<div x-mojo-element="Button" id="apply" class="halfbutton"></div>
		<div x-mojo-element="Button" id="clearinspector" class="halfbutton"></div>	
	</div>
</div>