<div id="about" class="palm-dark">
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div id="appIcon" class="img_info"></div>                        
			<div class="title">About</div>      
		</div>
	</div>
	<div class="aboutcontent">
			This software is provided as-is and comes with absolutely NO WARRANTY of any kind. The author is NOT responsible for any damage or loss caused by using this application.<br /> 
			Feedback / bug reports: <br /><a href="mailto:marco@i-marco.nl">marco@i-marco.nl</a><br /><br />
			Kudos to the amazing community at <a href="http://m.precentral.net/">PreCentral.net</a> for their invaluable testing efforts.<br /><br />
			<span id="copyright">Copyright 2009-2011 &copy; Marco van Hylckama Vlieg. <br />All Rights Reserved.</span></p>
	</div>	
</div>