<div id="about" class="palm-dark">
	<div class="palm-header left">
		Scientific RPN Calculator 1.0B14
	</div>
	<div class="aboutcontent">
		<p><strong>Beta version! Not to be used for rocket science just yet!</strong><br />
			<img src="icon.png" /><br />
			This software is provided as-is and comes with absolutely NO WARRANTY of any kind.<br /> 
			Feedback: <a href="mailto:marco@i-marco.nl">marco@i-marco.nl</a></p>
			<div x-mojo-element="Button" id="clearabout"></div>
			<p id="copyright">Copyright 2009 &copy; Marco van Hylckama Vlieg. <br />All Rights Reserved. <br /><strong>This application is NOT open source. Do NOT redistribute!</strong></p>
	</div>	
</div>