<div id="about" class="palm-dark">
	<div class="palm-header left">
		Scientific RPN Calculator 1.0B39
	</div>
	<div class="aboutcontent">
		<p><strong>Beta version! Not to be used for rocket science just yet!</strong><br />
			<p><img src="icon.png" /></p>
			This software is provided as-is and comes with absolutely NO WARRANTY of any kind.<br /> 
			Feedback: <a href="mailto:marco@i-marco.nl">marco@i-marco.nl</a><br /><br />
			Kudos to the amazing community at <a href="http://m.precentral.net/">PreCentral.net</a> for their invaluable testing efforts.<br /><br />
			<span id="copyright">Copyright 2009 &copy; Marco van Hylckama Vlieg. <br />All Rights Reserved. <br /><strong>This application is open source with restrictions. Do NOT (re)distribute installable packages of this software.</strong></span></p>
	</div>	
</div>